body {
  background-color: rgb(243, 233, 255);
  font-family: 'Roboto', sans-serif;
}

header, footer {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  align-items: center;
}

main {
  width: 700px;
  margin: auto;
  background-color: rgb(119, 74, 216);
  padding: 24px;
  border: 5px solid;
  border-radius: 8px;
  border-color: rgb(119, 74, 216);
  color: rgb(255, 255, 255);
}

h1 {
  color: rgb(90, 50, 200);
  font-size: 50px;
}

img {
  width: 200px;
  height: 100px;
  margin-top: -10px;
}

.emphasis {
    font-weight: bolder;
}

.indent {
  text-indent: 15px;
  padding: 4px;
}

.highlight {
  background-color: rgb(254, 238, 176);
  color: rgb(40, 2, 80);
  padding: 2px 4px;
  border-radius: 4px;
}

.v-line {
    border-left: thick solid yellow;
    padding: 0 0 0 13px;
}

.vv-line {
    border-left: thick solid yellow;
    padding: 16px 0 0 13px;
}

.paragraph {
    display: inline-block;
    margin: 8px auto;
    color: rgb(248, 231, 171);
}

a {
    background-color: gold;
    color: rgb(80, 2, 2);
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
}

a:hover {
    color: rgb(200, 1, 1);
    text-decoration: underline;
}

.copyright {
    color: rgb(150, 141, 141);
    margin-top: 32px;
}